body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output {
    margin-top: 60px;
    background-color: teal;
    border: 2px solid rgb(1, 44, 44)
}

.output.circle {
    border-radius: 50%;
}